:root {
  --primary: #2bb3b1;
  --primary-lighter: #4abebd;
  --secondary: hsl(71, 73%, 54%);

  --neutral: hsl(218, 22%, 67%);
  --neutral-lighter: hsl(204, 43%, 93%);

  --color-white: hsl(0, 0%, 100%);
}

/* STYLE FRONTEND MENTOR */
.attribution {
  font-size: 0.688rem;
  text-align: center;
  width: 100%;
  height: 5vh;
  margin-top: 2rem;
  color: black;
}

.attribution a {
  color: blue;
}

/* Generic rules */
body {
  font-family: 'Karla', sans-serif;
  background-color: var(--neutral-lighter);
  color: var(--neutral);
}

p {
  font-size: 1rem;
}

h1 {
  font-size: larger;
  font-weight: 700;
  color: var(--primary);
}

h2 {
  font-weight: 700;
  color: var(--secondary);
}

/* LAYOUT */

.container {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

.article {
  max-height: 810px;
  max-width: 325px;

  border-radius: .5rem;

  background-color: var(--color-white);
}

@media screen and (min-width: 1440px) {
  .article {
    display: grid;
  }
}

.article__section--price {
  background-color: var(--primary);
}

.article__section--info {
  background-color: var(--primary-lighter);
  border-radius : 0 0 .5rem.5rem;
}

.article__title,
.article__subtitle {
  padding: 25px 25px 0 25px;
}

.article__text {
  line-height: 1.5rem;
  padding: 25px 25px 25px 25px;
}

.article__text--light {
  color: var(--neutral-lighter);
}

.article__orderSummary {
  display: flex;
  align-items: center;

  padding: 25px 25px 0 25px;
}

.article__orderPrice {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 1rem;
  color: var(--neutral-lighter);
}

.article__orderTime {
  color: var(--neutral-lighter);
}

.article__orderLink {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: .5rem;
  font-weight: 700;
  color: var(--neutral-lighter);
  border: solid 2px var(--secondary);
  background-color: var(--secondary);
  padding: 1rem 0;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  min-width: 275px;
}

.article__orderLink:hover {
  color: var(--secondary);
  border: solid 2px var(--secondary);
  background-color: var(--neutral-lighter);
}

.article__subtitle--light {
  text-transform: capitalize;
  color: var(--neutral-lighter);
}

.article__unorderedList {
  color: var(--neutral-lighter);
  padding: 25px 25px 25px 25px;
}

.article__listItem:not(last-of-type) {
  padding-bottom: .4rem;
}
